/* LANDING HEADER */
.landing-header {
    height: 85vh;
    background-position: left;
    background-repeat: no-repeat;
    background-position: center;
    padding: 2rem;
    position: relative;
    z-index: 1;
    background-color: var(--primary-dark-hover);
}
.landing-header::before {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    content: '';
    z-index: -5;
    transition: all .5s ease;
    background-image: linear-gradient(90deg, var(--income), var(--expense));
    animation: bgChange 5s linear infinite;
}
.landing-header > .navbar-brand {
    color: var(--primary-dark-hover);
    width: max-content;
    transition: all .5s linear;
    font-size: 3rem;
    margin-left: 2rem;
}
.landing-header > .navbar-brand:hover {
    color: var(--primary-light);
    text-shadow: 1px 1px var(--primary-dark-hover);
}
@keyframes bgChange {
    0% {
        background-size: 200%;
    }
    30% {
        background-size: 100%;
    }
    60% {
        background-size: -100%;
    }
    100% {
        background-size: 200%;
    }
}

.header-form-box {
    width: 80%;
    z-index: 5;
    max-width: 35rem;
    margin: auto;
    background-color: var(--primary-light);
    padding: 2rem;
    border-radius: .5rem;
    min-height: 50vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    
    box-shadow: 0 1px 1rem var(--primary-dark-hover);
}



/* ACCOUNT FORM SECTiON */
.form-group {
    z-index: 5;
    margin: 2em auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}
.form-label {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    transition: all .4s ease;
    color: var(--primary-dark-hover);
    pointer-events: none;
    font-size: 1.25em;
    text-transform: capitalize;
}
.form-input {
    cursor: text;
    border: none;
    cursor: text;
    border-bottom: 1.5px solid var(--primary-light-hover);
    background: transparent;
    padding: .5em;
    outline: none;
}

.form-input:focus {
    border-bottom: 1.5px solid var(--primary-dark-hover);
}

.form-input:focus + .form-label, .active-label {
    color: var(--income);
    top: 0%;
    transform: scale(.95) translateY(-80%);
}

.form-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.form-header > .navbar-brand {
    font-size: 1.75em;
    color: var(--primary-light-hover);
}

.form-title {
    background-clip: text;
    background-image: linear-gradient(60deg, var(--income) 50%, var(--expense) 50%);
    color: transparent;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 2em;

}
.form-redirect {
    text-align: center;
    color: var(--primary-dark-hover);
}
.form-redirect > em {
    cursor: pointer;
    text-transform: uppercase;
    border-bottom: 1px dashed transparent;
    transition: all .4s ease;
}
.form-redirect > em:hover {
    color: var(--primary-dark);
    text-shadow: 1px 1px currentColor;
    border-bottom: 1px dashed currentColor;
}
.form-btn-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
}
.form-btn-box > button {
    padding: .5rem 1.75rem;
    font-size: 1.25rem;
    text-transform: uppercase;
    border: none;
    outline: none;
    background: var(--primary-dark);
    color: var(--primary-light-hover);
    transition: all .4s ease;
    font-weight: bold;
    cursor: pointer;
}
.form-btn-box > button:hover{
    color: var(--primary-dark);
    background: var(--primary-light-hover);
}
.form-error {
    font-weight: bold;
    font-size: 1.25rem;
    color: var(--expense);
    text-transform: capitalize;
}
.demo-link {
    display: block;
    padding: .5rem 1.75rem;
    text-transform: uppercase;
    background: transparent;
    color: var(--primary-light-hover);
    border: none;
    outline: none;
    max-width: max-content;
    transition: all .4s ease;
    cursor: pointer;
}
.demo-link:hover {
    color: var(--primary-light);
    background: var(--expense);
    box-shadow: 0 1px .5rem var(--primary-dark-hover);
}
.demo-link-box {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.web-only.demo-link-box {
    display: none;
}
@media (min-width: 800px) {
    .web-only.demo-link-box {
        display: flex;
        width: max-content;
        margin-left: 2rem;
    }
    .web-only.demo-link-box > * {
        padding: 1rem 3rem;
    }
    .landing-header::before {
        clip-path: polygon(0 0, 100% 0, 100% 60%, 0 100%);
        background-image: linear-gradient(90deg, var(--income-light), var(--expense-light))
        , url(../../assets/hero.jpg);
        background-position: center;
        background-size: cover;
        animation: none;
        transition: none;
    }
    .header-form-box {
        height: 60vh;
        left: 75%;
        transform: translate(-50%,-50%);
    }
    .landing-article-box {
        width: max-content;
        height: auto;
        margin: 2rem;
        display: grid;
        grid-template-columns: repeat(4, auto);
        grid-template-rows: repeat(6, auto);
    }
    .landing-article {
        margin: 1rem auto;
        display: flex;
        background: var(--primary-light);
        flex-direction: column;
        box-shadow: 0 1px 1rem var(--dark-tint);
        transition: all .5s ease;
        transform: translateZ(0);
        backface-visibility: hidden;
        filter: grayscale(100%);
    }
    .landing-article > h2 {
        text-align: center;
        word-wrap: break-word;
        text-transform: uppercase;
        padding: 1rem 0;
        transform: translateZ(0);
        font-size: 1.25rem;
    }
    .landing-article > img {
        display: block;
        object-fit: cover;
        object-position: center;
        backface-visibility: hidden;
        transform: translateZ(0);
        height: 12rem;
        width: 25rem;
    }

    .landing-article:nth-child(1){
        grid-column: 1/3;
        grid-row: 1/3;
    }
    .landing-article:nth-child(2){
        grid-column: 2/4;
        grid-row: 2/4;
        z-index: 5;
    }
    .landing-article:nth-child(3){
        grid-column: 1/3;
        grid-row: 3/5;
    }

    .landing-article-box:hover > .landing-article:not(:hover){
        transform: scale(.95) translateZ(0);
        z-index: 0;
    }
    
    .landing-article-box:hover > .landing-article:hover{
        transform: scale(1.05) translateZ(0);
        z-index: 5;
        filter: grayscale(0%);
        box-shadow: 0 1px 1rem var(--primary-dark);
    }
    
    .web-only > .demo-link {
        background: var(--primary-dark);
        color: var(--primary-light-hover);
    }
    .web-only > .demo-link:hover {
        color: var(--primary-light);
        background: var(--primary-dark);
        box-shadow: 0 1px .5rem var(--primary-dark-hover);
    }  
    .mobile-only > .demo-link {
        display: none;
    } 
}

@media (min-width: 950px) {
    .header-form-box {
        left: 75%;
        transform: translate(-50%,-50%);
    }
    .landing-article > img {
        height: 15rem;
        width: 35rem;
    }
}