/* LANDING HEADER */
.landing-header {
    height: 85vh;
    background-position: left;
    background-repeat: no-repeat;
    background-position: center;
    padding: 2rem;
    position: relative;
}
.landing-header::before {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    content: '';
    z-index: -1;
    transition: all .5s ease;
    background-image: linear-gradient(90deg, var(--income), var(--expense));
    animation: bgChange 5s linear infinite;
}
.landing-header > .navbar-brand {
    color: var(--primary-dark-hover);
    transition: all .5s linear;
    font-size: 3rem;
}
.landing-header > .navbar-brand:hover {
    color: var(--primary-light);
    text-shadow: 1px 1px var(--primary-dark-hover);
}
@keyframes bgChange {
    0% {
        background-size: 200%;
    }
    30% {
        background-size: 100%;
    }
    60% {
        background-size: -100%;
    }
    100% {
        background-size: 200%;
    }
}

.header-form-box {
    width: 80%;
    z-index: 5;
    max-width: 40rem;
    margin: auto;
    background-color: var(--primary-light);
    padding: 2rem;
    border-radius: .5rem;
    height: 50vh;
    position: relative;
    top: 40%;
    transform: translateY(-50%);    
    box-shadow: 0 1px 1rem var(--primary-dark-hover);
}



/* ACCOUNT FORM SECTiON */
.form-group {
    margin: 2em auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}
.form-label {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    transition: all .4s ease;
    color: var(--primary-dark-hover);
    pointer-events: none;
    font-size: 1.25em;
    text-transform: capitalize;
}
.form-input {
    border: none;
    cursor: text;
    border-bottom: 1.5px solid var(--primary-light-hover);
    background: transparent;
    padding: .5em;
    outline: none;
}

.form-input:focus {
    border-bottom: 1.5px solid var(--primary-dark-hover);
}

.form-input:focus + .form-label, .active-label {
    color: var(--income);
    top: 0%;
    transform: scale(.95) translateY(-80%);
}

.form-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.form-header > .navbar-brand {
    font-size: 1.75em;
    color: var(--primary-light-hover);
}

.form-title {
    background-clip: text;
    background-image: linear-gradient(60deg, var(--income) 50%, var(--expense) 50%);
    color: transparent;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 2em;

}
.form-redirect {
    text-align: center;
    color: var(--primary-dark-hover);
}
.form-redirect > em {
    cursor: pointer;
    text-transform: uppercase;
    border-bottom: 1px dashed transparent;
    transition: all .4s ease;
}
.form-redirect > em:hover {
    color: var(--primary-dark);
    text-shadow: 1px 1px currentColor;
    border-bottom: 1px dashed currentColor;
}
.form-btn-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
}
.form-btn-box > button {
    padding: .5rem 1.75rem;
    font-size: 1.25rem;
    text-transform: uppercase;
    border: none;
    outline: none;
    background: var(--primary-dark);
    color: var(--primary-light-hover);
    transition: all .4s ease;
    font-weight: bold;
    cursor: pointer;
}
.form-btn-box > button:hover,
.form-btn-box > button:focus {
    color: var(--primary-dark);
    background: var(--primary-light-hover);
}
@media (min-width: 800px) {
    .landing-header {
        z-index: -2;
        background-color: var(--primary-dark-hover);
    }
    .landing-header::before {
        clip-path: polygon(0 0, 100% 0, 100% 60%, 0 90%);
        background-image: linear-gradient(90deg, var(--income-light), var(--expense-light))
        , url(../../assets/hero.jpg);
        background-position: center;
        background-size: cover;
        animation: none;
        transition: none;
    }
    .header-form-box {
        height: 60vh;
        position: absolute;
        top: 50%;
        right: 10%;
    }
}