.account-input-group {
    display: flex;
    width: 90%;
    max-width: 25rem;
    margin: 1rem auto;
    flex-direction: column;
    position: relative;
}
.account-input-group > label {
    opacity: 0;
    position: absolute;
    top: -.5rem;
    left: .5rem;
    background-color: white;
}
.account-input-group > input {
    padding: .75rem;
    border: none;
    outline: none;
    overflow: hidden;
    border: 1px solid lightskyblue;
    border-radius: .25rem;
}
.account-input-group > input::placeholder, .account-input-group > label {
    transition: all .4s ease;
    text-transform: capitalize;
    font-size: .8rem;
}
.account-input-group > input:focus {
    border: 1px solid teal;
}
.account-input-group > input:focus::placeholder {
    transform: translateY(-100%);
    opacity: 0;
}
.account-input-group > input:focus + label, .show-label + label {
    opacity: 1;
    color: teal;
    font-size: .8rem;
}
