.month-list {
  margin-bottom: 2rem;
}
.month-list > h1{
    position: relative;
    width: max-content;
    margin: 1rem auto;
    font-size: 2.5rem;
    padding-bottom: .25rem;
    font-family: "Righteous", cursive;
  }
.month-list > h1::after{
  content: '';
  position: absolute;
  height: .4rem;
  width: 100%;
  background-color: var(--income);
  bottom: 0;
  left: 0;
}
table {
    width: 90%;
    max-width: 90rem;
    margin: auto;
    min-width: 300px;
  }
  th {
    padding: 0.75rem 1rem;
    background: teal;
    color: white;
    text-align: center;
    text-transform: capitalize;
    font-weight: lighter;
  }
  thead {
    display: none;
  }
  tbody > tr {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }
  tbody > tr:nth-child(odd) {
    background: var(--primary-light-hover);
  }
  tbody > tr:nth-child(even) {
    background: var(--lightest);
  }
  tbody > tr > td {
    position: relative;
    padding-left: 25%;
    text-align: right;
  }
  tbody > tr > td::before {
    position: absolute;
    content: attr(data-label);
    left: 0;
  }
  tbody > tr > td > button {
    background-color: transparent;
    border: none;
    outline: none;
    margin-left: .5rem;
  }
  tbody > tr > td > button > img {
    display: block;
    height: 1.75rem;
    width: 1.75rem;
    object-fit: cover;
  }
  @media (min-width: 800px) {
    table {
      width: 100%;
      max-width: 80rem;
      margin: auto;
      min-width: 300px;
    }
    th {
      padding: 0.75rem 1rem;
      background: var(--income);
      color: white;
      text-align: center;
      text-transform: capitalize;
      font-weight: lighter;
    }
    thead {
      display: table-header-group;
    }
    tbody > tr {
      display: table-row;
    }
    tbody > tr > td {
      position: relative;
      text-align: left;
      padding: 1rem;
    }
    tbody > tr > td::before {
      position: relative;
      content: none;
      left: 0;
    }
    tbody > tr > td:nth-child(3) {
      content: none;
      width: 50%;
      left: 0;
    }
  }
  