.dashboard-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.dashboard-wrapper > main, .dashboard-wrapper > aside {
    width: 100%;
}
.dashboard-wrapper > main {
    height: 100%;
    background-size: cover;
    background-image: var(--whtite-opaque-tint), url(../../assets/hero.jpg);
}
.dashboard-wrapper > aside > nav {
    display: flex;
}
@media (min-width: 800px) {
    .dashboard-wrapper {
        flex-direction: row;
        align-items: center;
    }   
    .dashboard-wrapper > main, 
    .dashboard-wrapper > aside {
        height: 100%;
    }
    .dashboard-wrapper > aside {
        flex-basis: 20%;
    }
    .dashboard-wrapper > aside > nav {
        height: 100%;
        flex-direction: column;
        justify-content: center;
    }
}