.profile-header {
    background-image: linear-gradient(35deg, var(--income), var(--expense-light)),url(../../assets/hero.jpg);
    background-size: cover;
    background-position: center;
    min-height: 40vh;
    padding: 2rem;
}
.profile-header > h1 {
    font-size: 5rem;
    font-weight: lighter;
    text-transform: capitalize;
    color: var(--primary-light);
    text-shadow: 1px 1px var(--primary-dark);
}
.profile-header > small {
    font-size: 1.25rem;
    text-transform: capitalize;
    color: var(--primary-light);
    padding: .25rem;
    background-color: var(--primary-dark);
}
.profile-header > .profile-dossier {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
}
.profile-header > .profile-dossier > .container {
    width: 70%;
    max-width: 50rem;
    margin-bottom: 1rem;
}
.profile-header > .profile-dossier > .container > h2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.75rem;
    text-transform: capitalize;
    background: var(--primary-light);
    padding: .5rem 1rem;
    color: var(--primary-dark-hover);
    border-radius: .25rem;
}
.profile-header > .profile-dossier > .container > h2:first-of-type {
    margin-bottom: 1rem;
}
.profile-header > .profile-dossier > .container > h2 > span {
    font-family: "Righteous", cursive;
}
.profile-header > .profile-dossier > .container > h2:first-of-type > span:last-of-type {
    color: var(--income);
}
.profile-header > .profile-dossier > .container > h2:last-of-type > span:last-of-type {
    color: var(--expense);
}
.transaction-container {
    margin-bottom: 4rem;
    padding-bottom: 1rem;
}
.month-card-container {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(35rem, 1fr));
    margin-bottom: 4rem;
    padding-bottom: 3rem;
}
.profile-body {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.profile-body > h2 {
    margin: 2rem auto;
    font-size: 2.5rem;
    text-transform: uppercase;
    width: max-content;
    font-family: "Righteous", cursive;
    border-bottom: .4rem solid var(--income);
}
.profile-body > .tab-view {
    max-width: 50rem;
    display: flex;
    margin: .5rem auto;
    list-style: none;
}
.profile-body > .tab-view > li {
    flex-basis: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-body > .tab-view > li > img {
    display: block;
    height: 2rem;
    width: 2rem;
    margin: 0 .5rem;
    filter: opacity(.35);
    cursor: pointer;
}
.profile-body > .tab-view > li:first-of-type > img {
    height: 1.75rem;
    width: 1.75rem;
    transition: all .4s ease;
}
.profile-body > .tab-view > li > img.active {
    filter: opacity(1);
}
@media (min-width: 900px) {
    .profile-header {
        min-height: 50vh;
        background-position: bottom;
    }
}

.table-data {
    transition: all .4s ease;
}
.show-less {
    display: none;
}

.show-more {
    display: block;
}

.show-btn {
    font-size: 1.5rem;
    text-transform: capitalize;
    display: inline-block;
    margin: 1rem auto;
    font-weight: bolder;
    color: var(--primary-light);
    text-shadow: 1px 1px var(--primary-dark);
    cursor: pointer;
    transition: var(--transition);
}
.show-btn:hover, .show-btn:focus {
    transform: scale(1.15);
}