:root {
    --income : rgb(40, 185, 181);
    --expense : rgb(255, 80, 73); 
    --income-light : rgba(40, 185, 181, .7);
    --expense-light : rgba(255, 80, 73, .7); 
    --primary-dark : rgb(12, 9, 13);
    --primary-dark-hover : rgb(32, 25, 34);
    --primary-light: rgb(250, 242, 242);
    --primary-light-hover: rgb(187, 187, 187);
    --white-opaque-tint : 
        linear-gradient(35deg, rgba(255,255,255,.75), rgba(255,255,255,.65));
    --dark-tint : rgba(0,0,0,.75);
    }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: default;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
}
*:link {
    cursor: pointer;
    text-decoration: none;
}
html, body, #root{
    height: 100%;
    overflow: hidden;
    min-width: 260px;
}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
.web-only, .web-only > * {
    display: none;
}
.btn {
    padding: .5rem 1.5rem;
    cursor: pointer;
}

@media (min-width: 800px) {
    .mobile-only, .mobile-only > * {
        display: none;
    }
    .web-only, .web-only > *{
        display: flex;
    }
}

