:root {
    --primary-dark : #0c090d;
    --primary-dark-hover : #201922;
    --primary-light: #faf2f2;
    --primary-light-hover: #bbbbbb;
    --whtite-opaque-tint : 
        linear-gradient(35deg, rgba(255,255,255,.75), rgba(255,255,255,.65));
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: default;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
}
*:link {
    cursor: pointer;
}
html, body, #root{
    height: 100%;
    overflow: hidden;
}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
.web-only, .web-only > * {
    display: none;
}

@media (min-width: 800px) {
    .mobile-only, .mobile-only > * {
        display: none;
    }
    .web-only, .web-only > *{
        display: flex;
    }
}