nav {
    padding: 1rem 1.5rem;
    background: var(--primary-dark);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar-brand {
    display: inline-block;
    font-size: 2.25rem;
    font-family: 'Righteous', cursive;
}
.navbar-list {
    display: flex;
    list-style-type: none;
}
.navbar-item {
    margin: 0 2rem;
}
.navbar-link {
    text-transform: capitalize;
    font-size: 1.5rem;
    position: relative;
    padding-bottom: .25rem;
}
.navbar-link::after{
    position: absolute;
    content: '';
    height: 2.5px;
    background-color: currentColor;
    width: 100%;
    left: 0%;
    overflow: hidden;
    transform: scale(0);
    bottom: 0;
    transition: all .4s ease;
    transform-origin: center;
}
.navbar-brand, 
.navbar-link {
    cursor: pointer;
    text-decoration: none;
    color: var(--primary-light-hover);
    transition: all .5s ease;
}
.navbar-brand:hover, 
.navbar-link:hover,
.active-link {
    color: var(--primary-light);
}
.navbar-link:hover::after, .active-link::after {
    transform: scale(1);
}
.navbar-toggler {
    font-size: 2.5rem;
    cursor: pointer;
    color: var(--primary-light-hover);
    transition: all .4s ease;
}
.navbar-toggler:hover {
    color: var(--primary-light);
}
.navbar-list--alt {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-dark);
    transition: all .4s ease;
    height: 100%;
    width: 100%;
    transform: translateX(0%);
}
.nav-open {
    transform: translateX(0);
    pointer-events: all;
}
.nav-close {
    transform: translateX(100%);
    pointer-events: none;
}
.nav-link--alt, .nav-brand--alt {
    text-decoration: none;
    color: var(--primary-light-hover);
}
.nav-brand--alt {
    display: block;
    margin-bottom: 3rem;
}
.nav-brand--alt > * {
    font-size: 3rem;
}
.nav-item {
    background-color: transparent;
    outline: none;
    border: none;
    color: var(--primary-light-hover);
    text-transform: capitalize;
    font-size: 1.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
    position: relative;
    padding: .5rem 1.5rem;
    cursor: pointer;
}
.nav-item > img {
    height: 1.75rem;
    Width: 1.75rem;
    margin-right: .75rem;
    filter: invert(80%);
}
.nav-item::after,
.nav-item::before {
    position: absolute;
    content: '';
    width: 0%;
    transition: all .4s ease-out;
}
.nav-item::after {
    height: 100%;
    left: 0;
    z-index: -1;
    background-color: var(--primary-dark-hover);
}
.nav-item::before {
    height: 2px;
    bottom: 0;
    right: 0;
    background-color: var(--primary-light-hover);
}
.nav-item:hover::before,
.nav-item:hover::after, .active::before, .active::after {
    width: 100%;
}
.nav-item:hover, .active {
    color: var(--primary-light);
}
.nav-item:hover > img, .active > img {
    filter: invert(100%);
}
.nav-list-close {
    position: absolute;
    top: 5%;
    right: 10%;
    background-color: transparent;
    outline: none;
    border: none;
    color: var(--primary-light-hover);
    font-size: 2.5rem;
    transition: all .5s;
    cursor: pointer;
    padding: 0 1rem;
    clip-path: circle();
    background-color: transparent;
}
.nav-list-close:hover {
    color: var(--expense);
    background-color: var(--primary-dark-hover);
    transform: translateZ(2);
}

@media (min-width: 800px) {
    .navbar-brand {
        font-size: 3rem;
    }
}